<div class="wrapper wrapper-content animated fadeInDown">
  <div id="Entete" class="row">
    <div class="ibox-content">
      <div class="row">
        <div class="logo-center col-lg-2">
          <div class="logo-center">
            <img width="100%" height="105%" src="assets/img/clubaf.png" />
          </div>
        </div>
        <div class="logo-center col-lg-8">
          <br />
          <br />
          <h4 class="text-center">Bulletin de Recette</h4>
        </div>

        <div class="logo-center col-lg-2"></div>
      </div>
      <div class="row col-lg-12">
        <table style="width: 100%" class="table table-bordered">
          <tbody>
            <tr>
              <td width="40%" class="detailsDocTitle">N° Folio</td>

              <td class="detailsDocTitle">N° Bulletin</td>

              <td class="detailsDocTitle">Date</td>

              <td class="detailsDocTitle">Code</td>
              <td class="detailsDocTitle">Client</td>
            </tr>
            <tr>
              <td>CS-1</td>
              <td>CSR23000116</td>
              <td>10/11/2023</td>
              <td>CL2514</td>
              <td>STE CHLEGOU DE DISTRIBUTION</td>
            </tr>
            <tr>
              <td>Nature</td>
              <td colspan="4">Reglement Client</td>
            </tr>
          </tbody>
        </table>
        <br />
        <h3>Règlement</h3>

        <table style="width: 100%" class="table table-bordered">
          <tbody>
            <tr>
              <td width="47%" class="detailsDocTitle text-center">Type</td>
              <td class="detailsDocTitle text-center">Banque</td>
              <td class="detailsDocTitle text-center">N° Pièce</td>
              <td class="detailsDocTitle text-center">Echéance</td>
              <td class="detailsDocTitle text-center">Montant</td>
            </tr>
            <tr>
              <td>Cheque</td>
              <td class="text-center">BIAT</td>
              <td class="text-right">000002</td>
              <td class="text-center">09/01/2023</td>
              <td class="text-center">1 730,174</td>
            </tr>
            <tr>
              <td colspan="4">Total</td>
              <td>730,174</td>
            </tr>
          </tbody>
        </table>
        <h3>Imputation</h3>
        <table style="width: 100%" class="table table-bordered">
          <tbody>
            <tr>
              <td width="47%" class="detailsDocTitle text-center">
                Date Document
              </td>
              <td class="detailsDocTitle text-center">N° Document</td>
              <td class="detailsDocTitle text-center">Montant</td>
              <td class="detailsDocTitle text-center">Règlement</td>
              <td class="detailsDocTitle text-center">Total Règlement</td>
              <td class="detailsDocTitle text-center">Reste à Régler</td>
            </tr>
            <tr>
              <td>09/01/2023</td>
              <td class="text-right">FV20230066</td>
              <td class="text-right">000002</td>
              <td class="text-right">0</td>
              <td class="text-right">1 730,174</td>
              <td class="text-right">1 730,174</td>
              <td class="text-right">17,476</td>
            </tr>
          </tbody>
        </table>
      </div>
      <p>
        Arrêté le présent Bulletin à la somme de :<br />
        mille sept cent trente Dinar , cent soixante-quatorze Millime
      </p>
      <div class="row">
        <div class="modal-footer">
          <input
            type="submit"
            class="btn btn-primary btn-xs dropdown-toggle"
            value="Valider"
          />

          <input
            type="submit"
            class="btn btn-white btn-xs dropdown-toggle"
            value="Annuler"
          />
        </div>
      </div>
    </div>
  </div>
</div>
