<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>Matchs</h2>
  </div>
  <div class="col-lg-2 text-right">Club Africain 2023</div>
</div>
<div class="wrapper wrapper-content animated fadeInDown">
  <div class="row">
    <div class="ibox-content">
      <div class="row">
        <div class="row mb-3">
          <div
            class="col-12 col-sm-12 align-self-center pt-1 pt-sm-0 text-right"
          >
            <button
              data-toggle="modal"
              data-target="#myModal5"
              class="btn btn-lg btn-primary"
              class="btn btn-outline btn-info add dim"
              title="Ajouter"
            >
              <i class="fa fa-plus"></i>
            </button>
          </div>
          <div
            class="modal inmodal fade"
            id="myModal5"
            tabindex="-1"
            role="dialog"
            aria-hidden="true"
          >
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span
                    ><span class="sr-only">Close</span>
                  </button>
                  <h4 class="modal-title">Ajouter Compétition</h4>
                </div>
                <div class="modal-body">
                  <form>
                    <div class="form-row">
                      <div class="col-md-6 mb-3">
                        <label for="validationDefault02">Féderation </label>
                        <select class="form-control">
                          <option>Libre</option>
                          <option selected>Féderation</option>
                          <option>Local</option>
                          <option>CAF</option>
                          <option>AFC</option>
                          <option>UAFC</option>
                        </select>
                      </div>
                      <div class="col-md-6 mb-3">
                        <label for="validationDefault04">Compétition </label>
                        <input
                          type="text"
                          class="form-control"
                          id="validationDefault04"
                          placeholder=""
                          required
                        />
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="col-md-6 mb-3">
                        <label for="validationDefault03">Saison </label>
                        <select class="form-control">
                          <option value="" selected>2023-2024</option>
                          <option value="option1">2022-2023</option>
                        </select>
                      </div>

                      <div class="col-md-6 mb-3">
                        <label for="validationDefault04">Etat </label>
                        <select class="form-control">
                          <option>Ouverte</option>
                          <option selected>Clôturée</option>
                        </select>
                      </div>
                    </div>
                  </form>
                </div>

                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btn-white"
                    data-dismiss="modal"
                  >
                    Annuler
                  </button>
                  <button type="button" class="btn btn-primary">Ajouter</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-3 pull-right">
          <div class="input-group">
            <input
              type="text"
              placeholder="Rechercher"
              class="input-sm form-control"
            />
            <span class="input-group-btn">
              <button type="button" class="btn btn-sm btn-primary">
                <i class="fa fa-search"></i>
              </button>
            </span>
          </div>
        </div>
      </div>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th style="width: 10%">Logo</th>
              <th style="width: 20%">Adversaire</th>
              <th style="width: 20%">Compétition</th>
              <th style="width: 10%">Date</th>
              <th style="width: 10%">Statut</th>
              <th style="width: 10%">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <img
                  src="assets/img/logostade.png"
                  alt="image"
                  class="img-circle"
                  width="30%"
                  height="30%"
                />
              </td>
              <td>Union Sportive de Ben Guerdane</td>
              <td>USMO</td>
              <td>22/10/2023</td>
              <td>Joué</td>
              <td class="overflow-hidden">
                <div class="btn-group">
                  <button
                    data-toggle="dropdown"
                    class="btn btn-primary btn-xs dropdown-toggle"
                  >
                    Action <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu">
                    <li><a href="#">Modifier</a></li>
                    <li><a href="#">Supprimer</a></li>
                  </ul>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <img
                  src="assets/img/logostade.png"
                  alt="image"
                  class="img-circle"
                  width="30%"
                  height="30%"
                />
              </td>
              <td>USMO</td>
              <td>CHAMPIONNAT</td>
              <td>22/10/2023</td>
              <td>A jouer</td>

              <td class="overflow-hidden">
                <div class="btn-group">
                  <button
                    data-toggle="dropdown"
                    class="btn btn-primary btn-xs dropdown-toggle"
                  >
                    Action <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu">
                    <li><a href="#">Modifier</a></li>
                    <li><a href="#">Supprimer</a></li>
                  </ul>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <img
                  src="assets/img/logostade.png"
                  alt="image"
                  class="img-circle"
                  width="30%"
                  height="30%"
                />
              </td>
              <td>Stade Tunisien</td>
              <td>CHAMPIONNAT</td>
              <td>29/10/2023</td>
              <td>A jouer</td>

              <td class="overflow-hidden">
                <div class="btn-group">
                  <button
                    data-toggle="dropdown"
                    class="btn btn-primary btn-xs dropdown-toggle"
                  >
                    Action <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu">
                    <li><a href="#">Modifier</a></li>
                    <li><a href="#">Supprimer</a></li>
                  </ul>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <img
                  src="assets/img/logosfax.png"
                  alt="image"
                  class="img-circle"
                  width="30%"
                  height="30%"
                />
              </td>
              <td>Club Sportif Sfaxien</td>
              <td>CHAMPIONS LEAGUE</td>
              <td>29/10/2023</td>
              <td>joué</td>

              <td class="overflow-hidden">
                <div class="btn-group">
                  <button
                    data-toggle="dropdown"
                    class="btn btn-primary btn-xs dropdown-toggle"
                  >
                    Action <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu">
                    <li><a href="#">Modifier</a></li>
                    <li><a href="#">Supprimer</a></li>
                  </ul>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
