<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-sm-4">
    <h2>Paramétrage Abonné</h2>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <div class="wrapper wrapper-content animated fadeInUp">
      <div class="ibox">
        <div class="ibox-content">
          <div class="row">
            <div class="col-lg-12">
              <div class="m-b-md">
                <h2>Abonné X</h2>
              </div>
              <dl class="dl-horizontal">
                <dt>Statut:</dt>
                <dd><span class="label label-primary">Actif</span></dd>
              </dl>
            </div>
          </div>

          <div class="row m-t-sm">
            <div class="col-lg-12">
              <div class="panel blank-panel">
                <div class="panel-heading">
                  <div class="panel-options">
                    <ul class="nav nav-tabs">
                      <li class="active">
                        <a href="#tab-2" data-toggle="tab">Identification</a>
                      </li>
                      <li class="">
                        <a href="#Utilisateurs" data-toggle="tab"
                          >Utilisateurs</a
                        >
                      </li>
                      <li class="">
                        <a href="#Groupes" data-toggle="tab">Groupes</a>
                      </li>
                      <li class="">
                        <a href="#Exploitation" data-toggle="tab"
                          >Exploitation</a
                        >
                      </li>
                      <li class="">
                        <a href="#Juridique" data-toggle="tab">Juridique</a>
                      </li>
                      <li class="">
                        <a href="#RH" data-toggle="tab">Ressources Humaines</a>
                      </li>
                      <li class="">
                        <a href="#Audit" data-toggle="tab">Audit</a>
                      </li>
                      <li class="">
                        <a href="#Finance" data-toggle="tab">Finance</a>
                      </li>
                      <li class="">
                        <a href="#DOC" data-toggle="tab">Documents</a>
                      </li>
                    </ul>
                  </div>
                </div>

                <div class="panel-body">
                  <div class="tab-content">
                    <div class="tab-pane active" id="tab-2">
                      <div class="ibox float-e-margins">
                        <div class="ibox-title">
                          <h5>Paramétre Abonné</h5>
                          <div class="ibox-tools">
                            <a class="collapse-link">
                              <i class="fa fa-chevron-up"></i>
                            </a>
                          </div>
                        </div>
                        <div class="ibox-content">
                          <div class="row">
                            <div class="col-lg-12">
                              <div class="form-row">
                                <div class="col-md-4 mb-3">
                                  <label for="validationDefault02"
                                    >Nomination</label
                                  >
                                  <input
                                    type="text"
                                    class="form-control"
                                    id="validationDefault02"
                                    placeholder=""
                                    required
                                  />
                                </div>
                                <div class="col-md-4 mb-3">
                                  <label for="validationDefault02">
                                    Slogan</label
                                  >
                                  <input
                                    type="text"
                                    class="form-control"
                                    id="validationDefault02"
                                    placeholder=""
                                    required
                                  />
                                </div>
                                <div class="col-md-4 mb-3">
                                  <label for="validationDefault04">
                                    Site web Groupe</label
                                  >
                                  <input
                                    type="text"
                                    class="form-control"
                                    id="validationDefault04"
                                    placeholder=""
                                    required
                                  />
                                </div>
                              </div>
                              <div class="form-row">
                                <div class="col-md-6 mb-3">
                                  <label for="validationDefault02"
                                    >Télechargement</label
                                  >
                                  <input
                                    class="form-control"
                                    name="file"
                                    type="file"
                                    multiple
                                  />
                                </div>
                                <div class="col-md-6 mb-3">
                                  <label for="validationDefault02"
                                    >Cachet/Signature</label
                                  >
                                  <input
                                    class="form-control"
                                    name="file"
                                    type="file"
                                    multiple
                                  />
                                </div>
                              </div>
                              <div class="form-row">
                                <div class="col-md-4 mb-3">
                                  <label for="validationDefault02"
                                    >Adresse</label
                                  >
                                  <input
                                    type="text"
                                    class="form-control"
                                    id="validationDefault02"
                                    placeholder=""
                                    required
                                  />
                                </div>
                                <div class="col-md-4 mb-3">
                                  <label for="validationDefault02">
                                    Email</label
                                  >
                                  <input
                                    type="text"
                                    class="form-control"
                                    id="validationDefault02"
                                    placeholder=""
                                    required
                                  />
                                </div>
                                <div class="col-md-4 mb-3">
                                  <label for="validationDefault04"
                                    >Téléphone</label
                                  >
                                  <input
                                    type="text"
                                    class="form-control"
                                    id="validationDefault04"
                                    placeholder=""
                                    required
                                  />
                                </div>
                              </div>
                              <div class="form-row">
                                <div class="col-md-4 mb-3">
                                  <label for="validationDefault02"
                                    >Banque</label
                                  >
                                  <select class="form-control">
                                    <option>Banque 1</option>
                                    <option>Banque 2</option>

                                    <option>Banque 3</option>
                                  </select>
                                </div>
                                <div class="col-md-4 mb-3">
                                  <label for="validationDefault02">
                                    Agence</label
                                  >
                                  <select class="form-control">
                                    <option>Banque 1</option>
                                    <option>Banque 2</option>

                                    <option>Banque 3</option>
                                  </select>
                                </div>
                                <div class="col-md-4 mb-3">
                                  <label for="validationDefault04">RIB</label>
                                  <input
                                    type="text"
                                    class="form-control"
                                    id="validationDefault04"
                                    placeholder=""
                                    required
                                  />
                                </div>
                              </div>
                              <div class="col-lg-12">
                                <div class="row" class="text-right">
                                  <br />
                                  <div class="modal-footer">
                                    <input
                                      type="submit"
                                      class="btn btn-xs btn-default"
                                      data-dismiss="modal"
                                      value="Annuler"
                                    />
                                    <input
                                      type="submit"
                                      data-dismiss="modal"
                                      class="btn btn-xs btn-primary"
                                      value="Modifier"
                                    />
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="ibox float-e-margins">
                        <div class="ibox-title">
                          <h5>Informations légales</h5>
                          <div class="ibox-tools">
                            <a class="collapse-link">
                              <i class="fa fa-chevron-up"></i>
                            </a>
                          </div>
                        </div>
                        <div class="ibox-content">
                          <div class="row">
                            <div class="col-lg-12">
                              <div class="form-row">
                                <div class="col-md-8 mb-3">
                                  <label for="validationDefault04"
                                    >Matricule Fiscal</label
                                  >
                                  <div class="input-group">
                                    <div class="col-md-2 mb-3">
                                      <input
                                        type="text"
                                        class="form-control"
                                        id="validationDefault04"
                                        placeholder=""
                                        required
                                      />
                                    </div>
                                    <div class="col-md-2 mb-3">
                                      <input
                                        type="text"
                                        class="form-control"
                                        id="validationDefault04"
                                        placeholder="A"
                                        required
                                      />
                                    </div>
                                    <div class="col-md-2 mb-3">
                                      <input
                                        type="text"
                                        class="form-control"
                                        id="validationDefault04"
                                        placeholder="M"
                                        required
                                      />
                                    </div>
                                    <div class="col-md-2 mb-3">
                                      <input
                                        type="text"
                                        class="form-control"
                                        id="validationDefault04"
                                        placeholder="000"
                                        required
                                      />
                                    </div>
                                  </div>
                                </div>
                                <div class="col-md-4 mb-3">
                                  <label for="validationDefault02">
                                    Identifiant Unique</label
                                  >
                                  <input
                                    type="text"
                                    class="form-control"
                                    id="validationDefault02"
                                    placeholder=""
                                    required
                                  />
                                </div>
                              </div>
                              <div class="form-row">
                                <div class="col-md-4 mb-3">
                                  <label for="validationDefault02">
                                    Forme Juridique (Abréviation)</label
                                  >
                                  <input
                                    type="text"
                                    class="form-control"
                                    id="validationDefault02"
                                    placeholder=""
                                    required
                                  />
                                </div>
                                <div class="col-md-4 mb-3">
                                  <label for="validationDefault02">
                                    Forme Juridique (Nomination)</label
                                  >
                                  <input
                                    type="text"
                                    class="form-control"
                                    id="validationDefault02"
                                    placeholder=""
                                    required
                                  />
                                </div>
                                <div class="col-md-4 mb-3">
                                  <label for="validationDefault04"
                                    >Capital Social</label
                                  >
                                  <input
                                    type="text"
                                    class="form-control"
                                    id="validationDefault04"
                                    placeholder=""
                                    required
                                  />
                                </div>
                              </div>
                              <div class="form-row">
                                <div class="col-md-6 mb-3">
                                  <label for="validationDefault02">
                                    Taux TVA (%)</label
                                  >
                                  <input
                                    type="text"
                                    class="form-control"
                                    id="validationDefault02"
                                    placeholder=""
                                    required
                                  />
                                </div>
                                <div class="col-md-6 mb-3">
                                  <label for="validationDefault02">
                                    Timbre Fiscal (Dinar - Ex. 0.600)</label
                                  >
                                  <input
                                    type="text"
                                    class="form-control"
                                    id="validationDefault02"
                                    placeholder=""
                                    required
                                  />
                                </div>
                              </div>
                            </div>
                            <div class="col-lg-12">
                              <div class="row" class="text-right">
                                <br />
                                <div class="modal-footer">
                                  <input
                                    type="submit"
                                    class="btn btn-xs btn-default"
                                    data-dismiss="modal"
                                    value="Annuler"
                                  />
                                  <input
                                    type="submit"
                                    data-dismiss="modal"
                                    class="btn btn-xs btn-primary"
                                    value="Modifier"
                                  />
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="ibox float-e-margins">
                        <div class="ibox-title">
                          <h5>Signataire</h5>
                          <div class="ibox-tools">
                            <a class="collapse-link">
                              <i class="fa fa-chevron-up"></i>
                            </a>
                          </div>
                        </div>
                        <div class="ibox-content">
                          <div class="row">
                            <div class="col-lg-12">
                              <div class="form-row">
                                <div class="col-md-4 mb-3">
                                  <label for="validationDefault02"
                                    >Civilité</label
                                  >
                                  <select class="form-control">
                                    <option selected>Mr</option>
                                    <option>Mlle</option>
                                    <option>Mme</option>
                                  </select>
                                </div>
                                <div class="col-md-4 mb-3">
                                  <label for="validationDefault02">
                                    Prénom</label
                                  >
                                  <input
                                    type="text"
                                    class="form-control"
                                    id="validationDefault02"
                                    placeholder=""
                                    required
                                  />
                                </div>
                                <div class="col-md-4 mb-3">
                                  <label for="validationDefault04">Nom</label>
                                  <input
                                    type="text"
                                    class="form-control"
                                    id="validationDefault04"
                                    placeholder=""
                                    required
                                  />
                                </div>
                              </div>
                              <div class="form-row">
                                <div class="col-md-4 mb-3">
                                  <label for="validationDefault02"> CIN</label>
                                  <input
                                    type="text"
                                    class="form-control"
                                    id="validationDefault02"
                                    placeholder=""
                                    required
                                  />
                                </div>
                                <div class="col-md-4 mb-3">
                                  <label for="validationDefault02">
                                    Date CIN</label
                                  >
                                  <input
                                    type="text"
                                    class="form-control"
                                    id="validationDefault02"
                                    placeholder=""
                                    required
                                  />
                                </div>
                                <div class="col-md-4 mb-3">
                                  <label for="validationDefault04"
                                    >Qualité</label
                                  >
                                  <input
                                    type="text"
                                    class="form-control"
                                    id="validationDefault04"
                                    placeholder=""
                                    required
                                  />
                                </div>
                              </div>
                            </div>
                            <div class="col-lg-12">
                              <div class="row" class="text-right">
                                <br />
                                <div class="modal-footer">
                                  <input
                                    type="submit"
                                    class="btn btn-xs btn-default"
                                    data-dismiss="modal"
                                    value="Annuler"
                                  />
                                  <input
                                    type="submit"
                                    data-dismiss="modal"
                                    class="btn btn-xs btn-primary"
                                    value="Modifier"
                                  />
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="ibox float-e-margins">
                        <div class="ibox-title">
                          <h5>Paramètres Domiciliation</h5>
                          <div class="ibox-tools">
                            <a class="collapse-link">
                              <i class="fa fa-chevron-up"></i>
                            </a>
                          </div>
                        </div>
                        <div class="ibox-content">
                          <div class="row">
                            <div class="col-lg-12">
                              <div class="form-row">
                                <div class="col-md-12 mb-3">
                                  <label for="validationDefault02"
                                    >Adresse</label
                                  >
                                  <input
                                    type="text"
                                    class="form-control"
                                    id="validationDefault02"
                                    placeholder=""
                                    required
                                  />
                                </div>
                              </div>
                              <div class="form-row">
                                <div class="col-md-4 mb-3">
                                  <label for="validationDefault02">
                                    Code postal</label
                                  >
                                  <input
                                    type="text"
                                    class="form-control"
                                    id="validationDefault02"
                                    placeholder=""
                                    required
                                  />
                                </div>
                                <div class="col-md-4 mb-3">
                                  <label for="validationDefault02">
                                    Ville</label
                                  >
                                  <input
                                    type="text"
                                    class="form-control"
                                    id="validationDefault02"
                                    placeholder=""
                                    required
                                  />
                                </div>
                                <div class="col-md-4 mb-3">
                                  <label for="validationDefault04">Pays</label>
                                  <select class="form-control">
                                    <option>tunis</option>
                                    <option>tunis</option>
                                  </select>
                                </div>
                              </div>
                            </div>
                            <div class="col-lg-12">
                              <div class="row" class="text-right">
                                <br />
                                <div class="modal-footer">
                                  <input
                                    type="submit"
                                    class="btn btn-xs btn-default"
                                    data-dismiss="modal"
                                    value="Annuler"
                                  />
                                  <input
                                    type="submit"
                                    data-dismiss="modal"
                                    class="btn btn-xs btn-primary"
                                    value="Modifier"
                                  />
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="row" class="text-right">
                        <div class="modal-footer">
                          <input
                            type="submit"
                            class="btn btn-xs btn-default"
                            data-dismiss="modal"
                            value="Annuler"
                          />
                          <input
                            type="submit"
                            data-dismiss="modal"
                            class="btn btn-xs btn-primary"
                            value="Modifier"
                          />
                        </div>
                      </div>
                    </div>
                    <div class="tab-pane" id="Utilisateurs">
                      <app-utilisateur></app-utilisateur>
                    </div>
                    <div class="tab-pane" id="Groupes">
                      <app-groupes></app-groupes>
                    </div>
                    <div class="tab-pane" id="Exploitation">
                      <app-info-exploitation-abonne></app-info-exploitation-abonne>
                    </div>
                    <div class="tab-pane" id="Juridique"></div>
                    <div class="tab-pane" id="RH">
                      <app-info-rh-parametrage></app-info-rh-parametrage>
                    </div>
                    <div class="tab-pane" id="Audit">
                      <app-info-section-audit></app-info-section-audit>
                    </div>
                    <div class="tab-pane" id="Finance">
                      <app-info-finance-abonne></app-info-finance-abonne>
                    </div>
                    <div class="tab-pane" id="DOC "></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
