<div class="wrapper wrapper-content animated fadeInDown">
  <div class="row">
    <div class="ibox-content">
      <div class="row">
        <div class="col-sm-3 pull-right">
          <div class="input-group">
            <input
              type="text"
              placeholder="Rechercher"
              class="input-sm form-control"
            />
            <span class="input-group-btn">
              <button type="button" class="btn btn-sm btn-primary">
                <i class="fa fa-search"></i>
              </button>
            </span>
          </div>
        </div>
      </div>

      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th style="width: 90%">Groupe</th>

              <th style="width: 90%">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr class="gradeX">
              <td>Groupe 1</td>
              <td class="overflow-hidden">
                <div class="btn-group">
                  <button
                    data-toggle="dropdown"
                    class="btn btn-primary btn-xs dropdown-toggle"
                  >
                    Action <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu">
                    <li><a href="#">Modifier</a></li>
                    <li><a href="#">Supprimer</a></li>
                    <li><a href="#">Configurer</a></li>
                    <li><a href="#">difu</a></li>
                  </ul>
                </div>
              </td>
            </tr>
            <tr class="gradeX">
              <td>Groupe 2</td>
              <td class="overflow-hidden">
                <div class="btn-group">
                  <button
                    data-toggle="dropdown"
                    class="btn btn-primary btn-xs dropdown-toggle"
                  >
                    Action <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu">
                    <li><a href="#">Modifier</a></li>
                    <li><a href="#">Supprimer</a></li>
                    <li><a href="#">Configurer</a></li>
                    <li><a href="#">difu</a></li>
                  </ul>
                </div>
              </td>
            </tr>
            <tr class="gradeX">
              <td>Groupe 3</td>
              <td class="overflow-hidden">
                <div class="btn-group">
                  <button
                    data-toggle="dropdown"
                    class="btn btn-primary btn-xs dropdown-toggle"
                  >
                    Action <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu">
                    <li><a href="#">Modifier</a></li>
                    <li><a href="#">Supprimer</a></li>
                    <li><a href="#">Configurer</a></li>
                    <li><a href="#">difu</a></li>
                  </ul>
                </div>
              </td>
            </tr>
            <tr class="gradeX">
              <td>Groupe 4</td>
              <td class="overflow-hidden">
                <div class="btn-group">
                  <button
                    data-toggle="dropdown"
                    class="btn btn-primary btn-xs dropdown-toggle"
                  >
                    Action <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu">
                    <li><a href="#">Modifier</a></li>
                    <li><a href="#">Supprimer</a></li>
                    <li><a href="#">Configurer</a></li>
                    <li><a href="#">difu</a></li>
                  </ul>
                </div>
              </td>
            </tr>

            <tr class="gradeX">
              <td>Groupe 5</td>
              <td class="overflow-hidden">
                <div class="btn-group">
                  <button
                    data-toggle="dropdown"
                    class="btn btn-primary btn-xs dropdown-toggle"
                  >
                    Action <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu">
                    <li><a href="#">Modifier</a></li>
                    <li><a href="#">Supprimer</a></li>
                    <li><a href="#">Configurer</a></li>
                    <li><a href="#">difu</a></li>
                  </ul>
                </div>
              </td>
            </tr>
            <tr class="gradeX">
              <td>Groupe 6</td>
              <td class="overflow-hidden">
                <div class="btn-group">
                  <button
                    data-toggle="dropdown"
                    class="btn btn-primary btn-xs dropdown-toggle"
                  >
                    Action <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu">
                    <li><a href="#">Modifier</a></li>
                    <li><a href="#">Supprimer</a></li>
                    <li><a href="#">Configurer</a></li>
                    <li><a href="#">difu</a></li>
                  </ul>
                </div>
              </td>
            </tr>
            <tr class="gradeX">
              <td>Groupe 7</td>
              <td class="overflow-hidden">
                <div class="btn-group">
                  <button
                    data-toggle="dropdown"
                    class="btn btn-primary btn-xs dropdown-toggle"
                  >
                    Action <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu">
                    <li><a href="#">Modifier</a></li>
                    <li><a href="#">Supprimer</a></li>
                    <li><a href="#">Configurer</a></li>
                    <li><a href="#">difu</a></li>
                  </ul>
                </div>
              </td>
            </tr>
            <tr class="gradeX">
              <td>Groupe 8</td>
              <td class="overflow-hidden">
                <div class="btn-group">
                  <button
                    data-toggle="dropdown"
                    class="btn btn-primary btn-xs dropdown-toggle"
                  >
                    Action <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu">
                    <li><a href="#">Modifier</a></li>
                    <li><a href="#">Supprimer</a></li>
                    <li><a href="#">Configurer</a></li>
                    <li><a href="#">difu</a></li>
                  </ul>
                </div>
              </td>
            </tr>
            <tr class="gradeX">
              <td>Groupe 9</td>
              <td class="overflow-hidden">
                <div class="btn-group">
                  <button
                    data-toggle="dropdown"
                    class="btn btn-primary btn-xs dropdown-toggle"
                  >
                    Action <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu">
                    <li><a href="#">Modifier</a></li>
                    <li><a href="#">Supprimer</a></li>
                    <li><a href="#">Configurer</a></li>
                    <li><a href="#">difu</a></li>
                  </ul>
                </div>
              </td>
            </tr>
            <tr class="gradeX">
              <td>Groupe 10</td>
              <td class="overflow-hidden">
                <div class="btn-group">
                  <button
                    data-toggle="dropdown"
                    class="btn btn-primary btn-xs dropdown-toggle"
                  >
                    Action <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu">
                    <li><a href="#">Modifier</a></li>
                    <li><a href="#">Supprimer</a></li>
                    <li><a href="#">Configurer</a></li>
                    <li><a href="#">difu</a></li>
                  </ul>
                </div>
              </td>
            </tr>
            <tr class="gradeX">
              <td>Groupe 11</td>
              <td class="overflow-hidden">
                <div class="btn-group">
                  <button
                    data-toggle="dropdown"
                    class="btn btn-primary btn-xs dropdown-toggle"
                  >
                    Action <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu">
                    <li><a href="#">Modifier</a></li>
                    <li><a href="#">Supprimer</a></li>
                    <li><a href="#">Configurer</a></li>
                    <li><a href="#">difu</a></li>
                  </ul>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
