<div class="row">
  <div class="col-lg-12">
    <div class="wrapper wrapper-content animated fadeInUp">
      <div class="ibox">
        <div class="ibox-content">
          <div class="row m-t-sm">
            <div class="col-lg-12">
              <div class="panel blank-panel">
                <div class="panel-heading">
                  <div class="panel-options">
                    <ul class="nav nav-tabs">
                      <li class="active">
                        <a href="#tab-1" data-toggle="tab">Info Joueur</a>
                      </li>
                      <li class="">
                        <a href="#tab-2" data-toggle="tab">Médical</a>
                      </li>
                      <li class="">
                        <a href="#tab-3" data-toggle="tab">Sanctions</a>
                      </li>
                      <li class="">
                        <a href="#tab-4" data-toggle="tab">Belssures</a>
                      </li>
                    </ul>
                  </div>
                </div>

                <div class="panel-body">
                  <div class="tab-content">
                    <div class="tab-pane active" id="tab-1">
                      <app-info-joueur></app-info-joueur>
                    </div>
                    <div class="tab-pane" id="tab-2">
                      <form class="form-horizontal">
                        <div class="form-row">
                          <div class="col-md-6">
                            <label>Taille</label>

                            <input
                              type="text"
                              placeholder="Taille"
                              class="form-control"
                            />
                          </div>
                          <div class="col-md-6">
                            <label>Poids</label>

                            <input
                              type="text"
                              placeholder="Poids"
                              class="form-control"
                            />
                          </div>
                        </div>

                        <div class="form-row">
                          <div class="col-md-6">
                            <label>Masse Grasse</label>

                            <input
                              type="text"
                              placeholder="Masse Grasse"
                              class="form-control"
                            />
                          </div>
                          <div class="col-md-6">
                            <label>Masse Maigre</label>

                            <input
                              type="text"
                              placeholder="Masse Maigre"
                              class="form-control"
                            />
                          </div>
                        </div>

                        <div class="form-row">
                          <div class="col-md-6">
                            <label>BPM Max</label>

                            <input
                              type="text"
                              placeholder="BPM Max"
                              class="form-control"
                            />
                          </div>

                          <div class="col-md-6">
                            <label>VO2 Max </label>

                            <input
                              type="text"
                              placeholder="VO2 Max
"
                              class="form-control"
                            />
                          </div>
                        </div>
                        <div class="form-row">
                          <div class="col-md-6">
                            <label>Vitesse Moy</label>

                            <input
                              type="text"
                              placeholder="Vitesse Moy"
                              class="form-control"
                            />
                          </div>
                          <div class="col-md-6">
                            <label>Vitesse Max</label>

                            <input
                              type="text"
                              placeholder="Vitesse Max"
                              class="form-control"
                            />
                          </div>
                        </div>

                        <div class="row" class="text-right">
                          <div class="modal-footer">
                            <button
                              type="button"
                              class="btn btn-white"
                              data-dismiss="modal"
                            >
                              Annuler
                            </button>
                            <button type="button" class="btn btn-primary">
                              Ajouter
                            </button>
                          </div>
                        </div>
                      </form>
                    </div>
                    <div class="tab-pane active" id="tab-3">
                      <table class="table table-striped">
                        <thead>
                          <tr>
                            <th style="width: 10%">Catégorie</th>
                            <th style="width: 10%">Cause</th>
                            <th style="width: 10%">Date Début</th>
                            <th style="width: 10%">Date Fin</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>PV League</td>
                            <td></td>
                            <td>10/10/2023</td>
                            <td>10/11/2023</td>
                          </tr>
                          <tr>
                            <td>PV League</td>
                            <td></td>
                            <td>10/10/2023</td>
                            <td>10/11/2023</td>
                          </tr>
                          <tr>
                            <td>PV League</td>
                            <td></td>
                            <td>10/10/2023</td>
                            <td>10/11/2023</td>
                          </tr>
                          <tr>
                            <td>PV League</td>
                            <td></td>
                            <td>10/10/2023</td>
                            <td>10/11/2023</td>
                          </tr>
                          <tr>
                            <td>PV League</td>
                            <td></td>
                            <td>10/10/2023</td>
                            <td>10/11/2023</td>
                          </tr>
                          <tr>
                            <td>
                              <tr>
                                <td>PV League</td>
                                <td></td>
                                <td>10/10/2023</td>
                                <td>10/11/2023</td>
                              </tr>
                            </td>
                            <td></td>
                            <td>10/10/2023</td>
                            <td>10/11/2023</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <div class="tab-pane active" id="tab-4">
                      <table class="table table-striped">
                        <thead>
                          <tr>
                            <th style="width: 10%">Catégorie</th>
                            <th style="width: 10%">Note</th>
                            <th style="width: 10%">Date Début</th>
                            <th style="width: 10%">Date Fin</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>PV League</td>
                            <td></td>
                            <td>10/10/2023</td>
                            <td>10/11/2023</td>
                          </tr>
                          <tr>
                            <td>PV League</td>
                            <td></td>
                            <td>10/10/2023</td>
                            <td>10/11/2023</td>
                          </tr>
                          <tr>
                            <td>PV League</td>
                            <td></td>
                            <td>10/10/2023</td>
                            <td>10/11/2023</td>
                          </tr>
                          <tr>
                            <td>PV League</td>
                            <td></td>
                            <td>10/10/2023</td>
                            <td>10/11/2023</td>
                          </tr>
                          <tr>
                            <td>PV League</td>
                            <td></td>
                            <td>10/10/2023</td>
                            <td>10/11/2023</td>
                          </tr>
                          <tr>
                            <td>
                              <tr>
                                <td>PV League</td>
                                <td></td>
                                <td>10/10/2023</td>
                                <td>10/11/2023</td>
                              </tr>
                            </td>
                            <td></td>
                            <td>10/10/2023</td>
                            <td>10/11/2023</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
