<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-sm-4">
    <h2>Support</h2>
    <ol class="breadcrumb">
      <li>
        <a>Tickets Support</a>
      </li>
      <li class="active">Imprimer</li>
    </ol>
  </div>
</div>
<div class="wrapper wrapper-content animated fadeInDown">
  <div class="ibox-content">
    <div class="row">
      <br />
      <br />
      <div class="logo-center col-lg-1"></div>

      <div class="logo-center col-lg-2">
        <div class="logo-center">
          <img width="90%" height="105%" src="assets/img/logo-connect.png" />
        </div>
      </div>
      <div class="logo-center col-lg-8">
        <br />
        <br />
      </div>
    </div>
    <br />
    <div>
      <div class="row">
        <div class="logo-center col-lg-2"></div>
        <div class="logo-center col-lg-8">
          <br />
          <br />
          <h2 style="font-family: sans-serif" class="text-center">
            FICHE D'INERVENTION
          </h2>
        </div>
        <div class="logo-center col-lg-2"></div>
      </div>
      <br />

      <div class="table-responsive">
        <div
          id="table_clients_wrapper"
          class="dataTables_wrapper dt-bootstrap4 no-footer"
        >
          <div class="row">
            <div class="col-sm-12">
              <table class="table table-bordered custom-table">
                <tbody>
                  <tr>
                    <td style="width: 30%">Client</td>
                    <td style="width: 70%"></td>
                  </tr>
                  <tr>
                    <td style="width: 30%">Responsable</td>
                    <td style="width: 70%"></td>
                  </tr>
                  <tr>
                    <td style="width: 30%">Tel</td>
                    <td style="width: 70%"></td>
                  </tr>
                  <tr>
                    <td style="width: 30%">Email</td>
                    <td style="width: 70%"></td>
                  </tr>
                </tbody>
              </table>
              <br /><br />
              <table class="table table-bordered custom-table">
                <tbody>
                  <tr>
                    <td style="width: 30%">Mission</td>
                    <td style="width: 70%"></td>
                  </tr>
                </tbody>
              </table>
              <br /><br />
              <table class="table table-bordered custom-table">
                <tbody>
                  <tr>
                    <td style="width: 30%">Contrat</td>
                    <td style="width: 70%"></td>
                  </tr>
                </tbody>
              </table>
              <br /><br />
              <table class="table table-bordered custom-table">
                <tbody>
                  <tr>
                    <td colspan="" rowspan="2" style="width: 10%">
                      Consultant
                    </td>
                    <td colspan="" rowspan="2" style="width: 10%"></td>
                    <td colspan="1" rowspan="1" style="width: 10%">
                      Date Début
                    </td>
                    <td colspan="" rowspan="1" style="width: 10%"></td>

                    <td colspan="1" rowspan="1" style="width: 10%">Date Fin</td>
                    <td colspan="" rowspan="1" style="width: 10%"></td>
                  </tr>
                  <tr>
                    <td colspan="1" rowspan="1" style="width: 10%">
                      Nbre Heures
                    </td>
                    <td colspan="" rowspan="1" style="width: 10%"></td>

                    <td colspan="1" rowspan="1" style="width: 10%">
                      Nbre Jours
                    </td>
                    <td colspan="" rowspan="1" style="width: 10%"></td>
                  </tr>
                  <tr>
                    <td colspan="3" style="width: 50%">Département</td>
                    <td colspan="3" style="width: 50%"></td>
                  </tr>
                </tbody>
              </table>
              <br /><br />
              <table class="table table-bordered custom-table">
                <tbody>
                  <tr>
                    <td style="width: 100%">
                      <p>Descriptif de la mission :</p>

                      -<br />
                      -<br />-<br />
                    </td>
                  </tr>
                </tbody>
              </table>
              <br /><br />
              <table class="table table-bordered custom-table">
                <tbody>
                  <tr>
                    <td style="width: 100%">
                      <p>Commentaires / Observations :</p>

                      .......................................................................................................................................................................................................................................<br />
                      .......................................................................................................................................................................................................................................<br />
                      .......................................................................................................................................................................................................................................<br />
                      .......................................................................................................................................................................................................................................<br />
                      .......................................................................................................................................................................................................................................<br />
                    </td>
                  </tr>
                </tbody>
              </table>
              <br /><br />
              <table class="table table-bordered custom-table">
                <tbody>
                  <tr></tr>
                </tbody>
              </table>
              <br />

              <table class="table signature-table">
                <tbody>
                  <tr>
                    <td>Signature du consultant<br /></td>
                    <td class="text-right">
                      Signature et cachet du client<br />

                      <img
                        src="assets/img/signature.jpg"
                        width="200"
                        height="150"
                      />
                    </td>
                  </tr>
                </tbody>
              </table>
              <br />
              <table class="container-fluid docFooter p-0">
                <tr>
                  <td style="width: 30%; font-family: 'Tahoma', sans-serif">
                    <b> STRATEGY & MANAGEMENT SERVICES - SARL -</b>
                  </td>
                  <td
                    style="
                      width: 30%;
                      font-family: 'Tahoma', sans-serif;
                      color: #8390a0;
                    "
                  >
                    <span class="fa fa-phone"></span> +216 71 815 556
                  </td>
                  <td
                    style="
                      width: 30%;
                      font-family: 'Tahoma', sans-serif;
                      color: #8390a0;
                    "
                  >
                    <span><i class="fa fa-institution"></i></span> Banque
                    Zitouna, Agence Jardins Menzah 2
                  </td>
                </tr>
                <tr>
                  <td
                    style="
                      width: 30%;
                      font-family: 'Tahoma', sans-serif;
                      color: #8390a0;
                    "
                  >
                    <span
                      ><i class="fa fa-calendar" aria-hidden="true"></i
                    ></span>
                    1659966 M/A/M/000
                  </td>
                  <td
                    style="
                      width: 30%;
                      font-family: 'Tahoma', sans-serif;
                      color: #8390a0;
                    "
                  >
                    <span class="pe-7s-mail"
                      ><i class="fa fa-envelope"></i
                    ></span>
                    contact@smservices.tn
                  </td>
                  <td
                    style="
                      width: 30%;
                      font-family: 'Tahoma', sans-serif;
                      color: #8390a0;
                    "
                  >
                    <span><i class="fa fa-credit-card"></i></span> RIB. 25 118
                    000009735000056
                  </td>
                </tr>
                <tr>
                  <td
                    style="
                      width: 30%;
                      font-family: 'Tahoma', sans-serif;
                      color: #8390a0;
                    "
                  >
                    <span><i class="fa fa-money"></i></span> Capital 20 000
                    dinars
                  </td>
                  <td
                    style="
                      width: 30%;
                      font-family: 'Tahoma', sans-serif;
                      color: #8390a0;
                    "
                    colspan="2"
                  >
                    <span><i class="fa fa-map-marker"></i></span> Immeuble Les
                    Jardins Avenue des violettes 1er Etage B1-1 Jardins El
                    Manzeh 2, 2094, Ariana - Tunisie.
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="modal-footer">
        <input
          type="submit"
          class="btn btn-primary btn-xs dropdown-toggle"
          value="Imprimer"
        />

        <input
          type="submit"
          class="btn btn-white btn-xs dropdown-toggle"
          value="Annuler"
        />
      </div>
    </div>
  </div>
</div>
