<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-9">
    <h2>Joueurs</h2>
  </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
  <div class="ibox-content">
    <div class="row">
      <div class="row mb-3">
        <div class="col-12 col-sm-12 align-self-center pt-1 pt-sm-0 text-right">
          <button
            data-toggle="modal"
            data-target="#myModal5"
            class="btn btn-lg btn-primary"
            class="btn btn-outline btn-info add dim"
            title="Ajouter"
          >
            <i class="fa fa-plus"></i>
          </button>
        </div>
        <div
          class="modal inmodal fade"
          id="myModal5"
          tabindex="-1"
          role="dialog"
          aria-hidden="true"
        >
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                  <span aria-hidden="true">&times;</span
                  ><span class="sr-only">Fermer</span>
                </button>
                <h4 class="modal-title">Ajouter Joueur</h4>
              </div>
              <div class="modal-body">
                <form class="form-horizontal">
                  <div class="form-row">
                    <div class="col-md-6">
                      <label>Nom Complet</label>
                      <input
                        type="text"
                        class="form-control"
                        id="validationDefault04"
                        placeholder=""
                        required
                      />
                    </div>
                    <div class="col-md-6">
                      <label>Surnom</label>
                      <input
                        type="text"
                        class="form-control"
                        id="validationDefault04"
                        placeholder=""
                        required
                      />
                    </div>
                  </div>

                  <div class="form-row">
                    <div class="col-md-6">
                      <label> N° Tel</label>

                      <input
                        type="text"
                        placeholder=" N° Tel"
                        class="form-control"
                      />
                    </div>
                    <div class="col-md-6">
                      <label> N° Maillot</label>

                      <input
                        type="text"
                        placeholder="N° Maillot"
                        class="form-control"
                      />
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="col-md-6">
                      <label>Email</label>

                      <input
                        type="text"
                        placeholder="Email"
                        class="form-control"
                      />
                    </div>
                    <div class="col-md-6">
                      <label> Nationnalité</label>

                      <select class="form-control">
                        <option></option>
                        <option></option>
                        <option></option>
                        <option selcted>Tunisienne</option>
                        <option></option>
                        <option></option>
                        <option></option>
                        <option></option>
                      </select>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="col-md-12">
                      <label> Position</label>

                      <select class="form-control">
                        <option>Défenseur Central</option>
                        <option>Latéral Gauche</option>
                        <option>Latéral Droit</option>
                        <option selcted>Gardien</option>
                        <option>Milieu Défensif</option>
                        <option>Milieu Droit</option>
                        <option>Milieu Gauche</option>
                        <option>Milieu défensif</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="col-md-4">
                      <label>N° Licence</label>

                      <input type="text" placeholder="" class="form-control" />
                    </div>
                    <div class="col-md-4">
                      <label> Date de début du Contrat</label>

                      <input type="date" placeholder="" class="form-control" />
                    </div>
                    <div class="col-md-4">
                      <label>Date d'expiration du Contrat </label>

                      <input type="date" placeholder="" class="form-control" />
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="col-md-4">
                      <label>N° Licence</label>

                      <input type="text" placeholder="" class="form-control" />
                    </div>
                    <div class="col-md-4">
                      <label> Date de début de la Licence</label>

                      <input type="date" placeholder="" class="form-control" />
                    </div>
                    <div class="col-md-4">
                      <label>Date d'expiration de la Licence </label>

                      <input type="date" placeholder="" class="form-control" />
                    </div>
                  </div>

                  <div class="form-row">
                    <div class="col-md-12">
                      <label> Date d'expiration du passeport</label>

                      <input
                        type="date"
                        placeholder=" N° Tel"
                        class="form-control"
                      />
                    </div>
                  </div>

                  <div class="row" class="text-right">
                    <div class="modal-footer">
                      <button
                        type="button"
                        class="btn btn-white btn-xs dropdown-toggle"
                        data-dismiss="modal"
                      >
                        Annuler
                      </button>
                      <button
                        type="button"
                        class="btn btn-primary btn-xs dropdown-toggle"
                      >
                        Ajouter
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-3 pull-right">
        <div class="input-group">
          <input
            type="text"
            placeholder="Rechercher"
            class="input-sm form-control"
          />
          <span class="input-group-btn">
            <button type="button" class="btn btn-sm btn-primary">
              <i class="fa fa-search"></i>
            </button>
          </span>
        </div>
      </div>
      <br /><br />
      <div class="col-lg-4">
        <div class="contact-box">
          <a>
            <div class="col-sm-4">
              <div class="text-center">
                <img
                  style="width: 100%; height: 100%"
                  alt="image"
                  class="img-circle m-t-xs img-responsive"
                  src="assets/img/j4.jpeg"
                />
                <div class="m-t-xs font-bold">Gardien</div>
              </div>
            </div>
            <div class="col-sm-8">
              <h3><strong>Mouez Hassen</strong></h3>
              <p>Passeport: 01/01/2026</p>
              <address><strong>Contrat: 01/01/2026</strong><br /></address>
            </div>
            <div class="clearfix">
              <div class="row mb-3">
                <div
                  class="col-12 col-sm-12 align-self-center pt-1 pt-sm-0 text-center"
                >
                  <button
                    data-toggle="modal"
                    data-target="#myModalModifier"
                    class="btn btn-lg btn-outline-primary"
                    class="btn btn-outline btn-info add dim"
                    title="Modifier"
                  >
                    <i class="fa fa-edit"></i>
                  </button>
                  <button
                    class="btn btn-lg btn-outline-primary"
                    class="btn btn-outline btn-info add dim"
                    title="Supprimer"
                  >
                    <i class="fa fa-trash"></i>
                  </button>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="contact-box">
          <a>
            <div class="col-sm-4">
              <div class="text-center">
                <img
                  alt="image"
                  class="img-circle m-t-xs img-responsive"
                  src="assets/img/j4.jpeg"
                />
                <div class="m-t-xs font-bold">Défenseur</div>
              </div>
            </div>
            <div class="col-sm-8">
              <h3><strong>Ameur Omrani</strong></h3>
              <p>Passeport: 01/01/2026</p>
              <address><strong>Contrat: 01/01/2026</strong><br /></address>
            </div>
            <div class="clearfix">
              <div class="row mb-3">
                <div
                  class="col-12 col-sm-12 align-self-center pt-1 pt-sm-0 text-center"
                >
                  <button
                    data-toggle="modal"
                    data-target="#myModalModifier"
                    class="btn btn-lg btn-outline-primary"
                    class="btn btn-outline btn-info add dim"
                    title="Modifier"
                  >
                    <i class="fa fa-edit"></i>
                  </button>
                  <button
                    class="btn btn-lg btn-outline-primary"
                    class="btn btn-outline btn-info add dim"
                    title="Supprimer"
                  >
                    <i class="fa fa-trash"></i>
                  </button>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="contact-box">
          <a>
            <div class="col-sm-4">
              <div class="text-center">
                <img
                  alt="image"
                  class="img-circle m-t-xs img-responsive"
                  src="assets/img/j7
.jpeg"
                />
                <div class="m-t-xs font-bold">Arrière gauche</div>
              </div>
            </div>
            <div class="col-sm-8">
              <h3><strong>Adem Taous </strong></h3>
              <p>Passeport: 01/01/2026</p>
              <address><strong>Contrat: 01/01/2026</strong><br /></address>
            </div>
            <div class="clearfix">
              <div class="row mb-3">
                <div
                  class="col-12 col-sm-12 align-self-center pt-1 pt-sm-0 text-center"
                >
                  <button
                    data-toggle="modal"
                    data-target="#myModalModifier"
                    class="btn btn-lg btn-outline-primary"
                    class="btn btn-outline btn-info add dim"
                    title="Modifier"
                  >
                    <i class="fa fa-edit"></i>
                  </button>
                  <button
                    class="btn btn-lg btn-outline-primary"
                    class="btn btn-outline btn-info add dim"
                    title="Supprimer"
                  >
                    <i class="fa fa-trash"></i>
                  </button>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="contact-box">
          <a>
            <div class="col-sm-4">
              <div class="text-center">
                <img
                  alt="image"
                  class="img-circle m-t-xs img-responsive"
                  src="assets/img/j7
.jpeg"
                />
                <div class="m-t-xs font-bold">Arrière gauche</div>
              </div>
            </div>
            <div class="col-sm-8">
              <h3><strong>Mouez Hassen</strong></h3>
              <p>Passeport: 01/01/2026</p>
              <address><strong>Contrat: 01/01/2026</strong><br /></address>
            </div>
            <div class="clearfix">
              <div class="row mb-3">
                <div
                  class="col-12 col-sm-12 align-self-center pt-1 pt-sm-0 text-center"
                >
                  <button
                    data-toggle="modal"
                    data-target="#myModalModifier"
                    class="btn btn-lg btn-outline-primary"
                    class="btn btn-outline btn-info add dim"
                    title="Modifier"
                  >
                    <i class="fa fa-edit"></i>
                  </button>
                  <button
                    class="btn btn-lg btn-outline-primary"
                    class="btn btn-outline btn-info add dim"
                    title="Supprimer"
                  >
                    <i class="fa fa-trash"></i>
                  </button>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="contact-box">
          <a>
            <div class="col-sm-4">
              <div class="text-center">
                <img
                  alt="image"
                  class="img-circle m-t-xs img-responsive"
                  src="assets/img/j4
.jpeg"
                />
                <div class="m-t-xs font-bold">Milieu</div>
              </div>
            </div>
            <div class="col-sm-8">
              <h3><strong>Yahia Mtiri </strong></h3>
              <p>Passeport: 01/01/2026</p>
              <address><strong>Contrat: 01/01/2026</strong><br /></address>
            </div>
            <div class="clearfix">
              <div class="row mb-3">
                <div
                  class="col-12 col-sm-12 align-self-center pt-1 pt-sm-0 text-center"
                >
                  <button
                    data-toggle="modal"
                    data-target="#myModalModifier"
                    class="btn btn-lg btn-outline-primary"
                    class="btn btn-outline btn-info add dim"
                    title="Modifier"
                  >
                    <i class="fa fa-edit"></i>
                  </button>
                  <button
                    class="btn btn-lg btn-outline-primary"
                    class="btn btn-outline btn-info add dim"
                    title="Supprimer"
                  >
                    <i class="fa fa-trash"></i>
                  </button>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="contact-box">
          <a>
            <div class="col-sm-4">
              <div class="text-center">
                <img
                  alt="image"
                  class="img-circle m-t-xs img-responsive"
                  src="assets/img/a6.jpeg"
                />
                <div class="m-t-xs font-bold">Milieu</div>
              </div>
            </div>
            <div class="col-sm-8">
              <h3><strong>Janet Carton</strong></h3>
              <p>Passeport: 01/01/2026</p>
              <address><strong>Contrat: 01/01/2026</strong><br /></address>
            </div>
            <div class="clearfix">
              <div class="row mb-3">
                <div
                  class="col-12 col-sm-12 align-self-center pt-1 pt-sm-0 text-center"
                >
                  <button
                    data-toggle="modal"
                    data-target="#myModalModifier"
                    class="btn btn-lg btn-outline-primary"
                    class="btn btn-outline btn-info add dim"
                    title="Modifier"
                  >
                    <i class="fa fa-edit"></i>
                  </button>
                  <button
                    class="btn btn-lg btn-outline-primary"
                    class="btn btn-outline btn-info add dim"
                    title="Supprimer"
                  >
                    <i class="fa fa-trash"></i>
                  </button>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="contact-box">
          <a>
            <div class="col-sm-4">
              <div class="text-center">
                <img
                  alt="image"
                  class="img-circle m-t-xs img-responsive"
                  src="assets/img/j4.jpeg"
                />
                <div class="m-t-xs font-bold">Défenseur</div>
              </div>
            </div>
            <div class="col-sm-8">
              <h3><strong>Mouez Hassen</strong></h3>
              <p>Passeport: 01/01/2026</p>
              <address><strong>Contrat: 01/01/2026</strong><br /></address>
            </div>
            <div class="clearfix">
              <div class="row mb-3">
                <div
                  class="col-12 col-sm-12 align-self-center pt-1 pt-sm-0 text-center"
                >
                  <button
                    data-toggle="modal"
                    data-target="#myModalModifier"
                    class="btn btn-lg btn-outline-primary"
                    class="btn btn-outline btn-info add dim"
                    title="Modifier"
                  >
                    <i class="fa fa-edit"></i>
                  </button>
                  <button
                    class="btn btn-lg btn-outline-primary"
                    class="btn btn-outline btn-info add dim"
                    title="Supprimer"
                  >
                    <i class="fa fa-trash"></i>
                  </button>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="contact-box">
          <a>
            <div class="col-sm-4">
              <div class="text-center">
                <img
                  alt="image"
                  class="img-circle m-t-xs img-responsive"
                  src="assets/img/j1.jpeg"
                />
                <div class="m-t-xs font-bold">Milieu</div>
              </div>
            </div>
            <div class="col-sm-8">
              <h3><strong>John Smith</strong></h3>
              <p>Passeport: 01/01/2026</p>
              <address><strong>Contrat: 01/01/2026</strong><br /></address>
            </div>
            <div class="clearfix">
              <div class="row mb-3">
                <div
                  class="col-12 col-sm-12 align-self-center pt-1 pt-sm-0 text-center"
                >
                  <button
                    data-toggle="modal"
                    data-target="#myModalModifier"
                    class="btn btn-lg btn-outline-primary"
                    class="btn btn-outline btn-info add dim"
                    title="Modifier"
                  >
                    <i class="fa fa-edit"></i>
                  </button>
                  <button
                    class="btn btn-lg btn-outline-primary"
                    class="btn btn-outline btn-info add dim"
                    title="Supprimer"
                  >
                    <i class="fa fa-trash"></i>
                  </button>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="contact-box">
          <a>
            <div class="col-sm-4">
              <div class="text-center">
                <img
                  alt="image"
                  class="img-circle m-t-xs img-responsive"
                  src="assets/img/j7
.jpeg"
                />
                <div class="m-t-xs font-bold">Arrière gauche</div>
              </div>
            </div>
            <div class="col-sm-8">
              <h3><strong>Mouez Hassen</strong></h3>
              <p>Passeport: 01/01/2026</p>
              <address><strong>Contrat: 01/01/2026</strong><br /></address>
            </div>
            <div class="clearfix">
              <div class="row mb-3">
                <div
                  class="col-12 col-sm-12 align-self-center pt-1 pt-sm-0 text-center"
                >
                  <button
                    data-toggle="modal"
                    data-target="#myModalModifier"
                    class="btn btn-lg btn-outline-primary"
                    class="btn btn-outline btn-info add dim"
                    title="Modifier"
                  >
                    <i class="fa fa-edit"></i>
                  </button>
                  <button
                    class="btn btn-lg btn-outline-primary"
                    class="btn btn-outline btn-info add dim"
                    title="Supprimer"
                  >
                    <i class="fa fa-trash"></i>
                  </button>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="contact-box">
          <a>
            <div class="col-sm-4">
              <div class="text-center">
                <img
                  alt="image"
                  class="img-circle m-t-xs img-responsive"
                  src="assets/img/j7
.jpeg"
                />
                <div class="m-t-xs font-bold">Arrière gauche</div>
              </div>
            </div>
            <div class="col-sm-8">
              <h3><strong>Mouez Hassen</strong></h3>
              <p>Passeport: 01/01/2026</p>
              <address><strong>Contrat: 01/01/2026</strong><br /></address>
            </div>
            <div class="clearfix">
              <div class="row mb-3">
                <div
                  class="col-12 col-sm-12 align-self-center pt-1 pt-sm-0 text-center"
                >
                  <button
                    data-toggle="modal"
                    data-target="#myModalModifier"
                    class="btn btn-lg btn-outline-primary"
                    class="btn btn-outline btn-info add dim"
                    title="Modifier"
                  >
                    <i class="fa fa-edit"></i>
                  </button>
                  <button
                    class="btn btn-lg btn-outline-primary"
                    class="btn btn-outline btn-info add dim"
                    title="Supprimer"
                  >
                    <i class="fa fa-trash"></i>
                  </button>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="contact-box">
          <a>
            <div class="col-sm-4">
              <div class="text-center">
                <img
                  alt="image"
                  class="img-circle m-t-xs img-responsive"
                  src="assets/img/j4
.jpeg"
                />
                <div class="m-t-xs font-bold">Milieu</div>
              </div>
            </div>
            <div class="col-sm-8">
              <h3><strong>Yahia Mtiri </strong></h3>
              <p>Passeport: 01/01/2026</p>
              <address><strong>Contrat: 01/01/2026</strong><br /></address>
            </div>
            <div class="clearfix">
              <div class="row mb-3">
                <div
                  class="col-12 col-sm-12 align-self-center pt-1 pt-sm-0 text-center"
                >
                  <button
                    data-toggle="modal"
                    data-target="#myModalModifier"
                    class="btn btn-lg btn-outline-primary"
                    class="btn btn-outline btn-info add dim"
                    title="Modifier"
                  >
                    <i class="fa fa-edit"></i>
                  </button>
                  <button
                    class="btn btn-lg btn-outline-primary"
                    class="btn btn-outline btn-info add dim"
                    title="Supprimer"
                  >
                    <i class="fa fa-trash"></i>
                  </button>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="contact-box">
          <a>
            <div class="col-sm-4">
              <div class="text-center">
                <img
                  alt="image"
                  class="img-circle m-t-xs img-responsive"
                  src="assets/img/a6.jpeg"
                />
                <div class="m-t-xs font-bold">Milieu</div>
              </div>
            </div>
            <div class="col-sm-8">
              <h3><strong>Janet Carton</strong></h3>
              <p>Passeport: 01/01/2026</p>
              <address><strong>Contrat: 01/01/2026</strong><br /></address>
            </div>
            <div class="clearfix">
              <div class="row mb-3">
                <div
                  class="col-12 col-sm-12 align-self-center pt-1 pt-sm-0 text-center"
                >
                  <button
                    data-toggle="modal"
                    data-target="#myModalModifier"
                    class="btn btn-lg btn-outline-primary"
                    class="btn btn-outline btn-info add dim"
                    title="Modifier"
                  >
                    <i class="fa fa-edit"></i>
                  </button>
                  <button
                    class="btn btn-lg btn-outline-primary"
                    class="btn btn-outline btn-info add dim"
                    title="Supprimer"
                  >
                    <i class="fa fa-trash"></i>
                  </button>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="contact-box">
          <a>
            <div class="col-sm-4">
              <div class="text-center">
                <img
                  alt="image"
                  class="img-circle m-t-xs img-responsive"
                  src="assets/img/j4.jpeg"
                />
                <div class="m-t-xs font-bold">Défenseur</div>
              </div>
            </div>
            <div class="col-sm-8">
              <h3><strong>Mouez Hassen</strong></h3>
              <p>Passeport: 01/01/2026</p>
              <address><strong>Contrat: 01/01/2026</strong><br /></address>
            </div>
            <div class="clearfix">
              <div class="row mb-3">
                <div
                  class="col-12 col-sm-12 align-self-center pt-1 pt-sm-0 text-center"
                >
                  <button
                    data-toggle="modal"
                    data-target="#myModalModifier"
                    class="btn btn-lg btn-outline-primary"
                    class="btn btn-outline btn-info add dim"
                    title="Modifier"
                  >
                    <i class="fa fa-edit"></i>
                  </button>
                  <button
                    class="btn btn-lg btn-outline-primary"
                    class="btn btn-outline btn-info add dim"
                    title="Supprimer"
                  >
                    <i class="fa fa-trash"></i>
                  </button>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="contact-box">
          <a>
            <div class="col-sm-4">
              <div class="text-center">
                <img
                  alt="image"
                  class="img-circle m-t-xs img-responsive"
                  src="assets/img/j1.jpeg"
                />
                <div class="m-t-xs font-bold">Milieu</div>
              </div>
            </div>
            <div class="col-sm-8">
              <h3><strong>John Smith</strong></h3>
              <p>Passeport: 01/01/2026</p>
              <address><strong>Contrat: 01/01/2026</strong><br /></address>
            </div>
            <div class="clearfix">
              <div class="row mb-3">
                <div
                  class="col-12 col-sm-12 align-self-center pt-1 pt-sm-0 text-center"
                >
                  <button
                    data-toggle="modal"
                    data-target="#myModalModifier"
                    class="btn btn-lg btn-outline-primary"
                    class="btn btn-outline btn-info add dim"
                    title="Modifier"
                  >
                    <i class="fa fa-edit"></i>
                  </button>
                  <button
                    class="btn btn-lg btn-outline-primary"
                    class="btn btn-outline btn-info add dim"
                    title="Supprimer"
                  >
                    <i class="fa fa-trash"></i>
                  </button>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="contact-box">
          <a>
            <div class="col-sm-4">
              <div class="text-center">
                <img
                  alt="image"
                  class="img-circle m-t-xs img-responsive"
                  src="assets/img/j4
.jpeg"
                />
                <div class="m-t-xs font-bold">Milieu</div>
              </div>
            </div>
            <div class="col-sm-8">
              <h3><strong>Yahia Mtiri </strong></h3>
              <p>Passeport: 01/01/2026</p>
              <address><strong>Contrat: 01/01/2026</strong><br /></address>
            </div>
            <div class="clearfix">
              <div class="row mb-3">
                <div
                  class="col-12 col-sm-12 align-self-center pt-1 pt-sm-0 text-center"
                >
                  <button
                    data-toggle="modal"
                    data-target="#myModalModifier"
                    class="btn btn-lg btn-outline-primary"
                    class="btn btn-outline btn-info add dim"
                    title="Modifier"
                  >
                    <i class="fa fa-edit"></i>
                  </button>
                  <button
                    class="btn btn-lg btn-outline-primary"
                    class="btn btn-outline btn-info add dim"
                    title="Supprimer"
                  >
                    <i class="fa fa-trash"></i>
                  </button>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="contact-box">
          <a>
            <div class="col-sm-4">
              <div class="text-center">
                <img
                  alt="image"
                  class="img-circle m-t-xs img-responsive"
                  src="assets/img/a6.jpeg"
                />
                <div class="m-t-xs font-bold">Milieu</div>
              </div>
            </div>
            <div class="col-sm-8">
              <h3><strong>Janet Carton</strong></h3>
              <p>Passeport: 01/01/2026</p>
              <address><strong>Contrat: 01/01/2026</strong><br /></address>
            </div>
            <div class="clearfix">
              <div class="row mb-3">
                <div
                  class="col-12 col-sm-12 align-self-center pt-1 pt-sm-0 text-center"
                >
                  <button
                    data-toggle="modal"
                    data-target="#myModalModifier"
                    class="btn btn-lg btn-outline-primary"
                    class="btn btn-outline btn-info add dim"
                    title="Modifier"
                  >
                    <i class="fa fa-edit"></i>
                  </button>
                  <button
                    class="btn btn-lg btn-outline-primary"
                    class="btn btn-outline btn-info add dim"
                    title="Supprimer"
                  >
                    <i class="fa fa-trash"></i>
                  </button>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="contact-box">
          <a>
            <div class="col-sm-4">
              <div class="text-center">
                <img
                  alt="image"
                  class="img-circle m-t-xs img-responsive"
                  src="assets/img/j4.jpeg"
                />
                <div class="m-t-xs font-bold">Défenseur</div>
              </div>
            </div>
            <div class="col-sm-8">
              <h3><strong>Mouez Hassen</strong></h3>
              <p>Passeport: 01/01/2026</p>
              <address><strong>Contrat: 01/01/2026</strong><br /></address>
            </div>
            <div class="clearfix">
              <div class="row mb-3">
                <div
                  class="col-12 col-sm-12 align-self-center pt-1 pt-sm-0 text-center"
                >
                  <button
                    data-toggle="modal"
                    data-target="#myModalModifier"
                    class="btn btn-lg btn-outline-primary"
                    class="btn btn-outline btn-info add dim"
                    title="Modifier"
                  >
                    <i class="fa fa-edit"></i>
                  </button>
                  <button
                    class="btn btn-lg btn-outline-primary"
                    class="btn btn-outline btn-info add dim"
                    title="Supprimer"
                  >
                    <i class="fa fa-trash"></i>
                  </button>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="contact-box">
          <a>
            <div class="col-sm-4">
              <div class="text-center">
                <img
                  alt="image"
                  class="img-circle m-t-xs img-responsive"
                  src="assets/img/j1.jpeg"
                />
                <div class="m-t-xs font-bold">Milieu</div>
              </div>
            </div>
            <div class="col-sm-8">
              <h3><strong>John Smith</strong></h3>
              <p>Passeport: 01/01/2026</p>
              <address><strong>Contrat: 01/01/2026</strong><br /></address>
            </div>
            <div class="clearfix">
              <div class="row mb-3">
                <div
                  class="col-12 col-sm-12 align-self-center pt-1 pt-sm-0 text-center"
                >
                  <button
                    data-toggle="modal"
                    data-target="#myModalModifier"
                    class="btn btn-lg btn-outline-primary"
                    class="btn btn-outline btn-info add dim"
                    title="Modifier"
                  >
                    <i class="fa fa-edit"></i>
                  </button>
                  <button
                    class="btn btn-lg btn-outline-primary"
                    class="btn btn-outline btn-info add dim"
                    title="Supprimer"
                  >
                    <i class="fa fa-trash"></i>
                  </button>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div
        class="modal inmodal fade"
        id="myModalModifier"
        tabindex="-1"
        role="dialog"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">
                <span aria-hidden="true">&times;</span
                ><span class="sr-only">Fermer</span>
              </button>
              <h4 class="modal-title">Modifier Joueur</h4>
            </div>
            <div class="modal-body">
              <form class="form-horizontal">
                <div class="form-row">
                  <div class="col-md-6">
                    <label>Nom Complet</label>
                    <input
                      type="text"
                      class="form-control"
                      id="validationDefault04"
                      placeholder=""
                      required
                    />
                  </div>
                  <div class="col-md-6">
                    <label>Surnom</label>
                    <input
                      type="text"
                      class="form-control"
                      id="validationDefault04"
                      placeholder=""
                      required
                    />
                  </div>
                </div>

                <div class="form-row">
                  <div class="col-md-6">
                    <label> N° Tel</label>

                    <input
                      type="text"
                      placeholder=" N° Tel"
                      class="form-control"
                    />
                  </div>
                  <div class="col-md-6">
                    <label> N° Maillot</label>

                    <input
                      type="text"
                      placeholder="N° Maillot"
                      class="form-control"
                    />
                  </div>
                </div>
                <div class="form-row">
                  <div class="col-md-6">
                    <label>Email</label>

                    <input
                      type="text"
                      placeholder="Email"
                      class="form-control"
                    />
                  </div>
                  <div class="col-md-6">
                    <label> Nationnalité</label>

                    <select class="form-control">
                      <option></option>
                      <option></option>
                      <option></option>
                      <option selcted>Tunisienne</option>
                      <option></option>
                      <option></option>
                      <option></option>
                      <option></option>
                    </select>
                  </div>
                </div>
                <div class="form-row">
                  <div class="col-md-12">
                    <label> Position</label>

                    <select class="form-control">
                      <option>Défenseur Central</option>
                      <option>Latéral Gauche</option>
                      <option>Latéral Droit</option>
                      <option selcted>Gardien</option>
                      <option>Milieu Défensif</option>
                      <option>Milieu Droit</option>
                      <option>Milieu Gauche</option>
                      <option>Milieu défensif</option>
                    </select>
                  </div>
                </div>
                <div class="form-row">
                  <div class="col-md-4">
                    <label>N° Licence</label>

                    <input type="text" placeholder="" class="form-control" />
                  </div>
                  <div class="col-md-4">
                    <label> Date de début du Contrat</label>

                    <input type="date" placeholder="" class="form-control" />
                  </div>
                  <div class="col-md-4">
                    <label>Date d'expiration du Contrat </label>

                    <input type="date" placeholder="" class="form-control" />
                  </div>
                </div>
                <div class="form-row">
                  <div class="col-md-4">
                    <label>N° Licence</label>

                    <input type="text" placeholder="" class="form-control" />
                  </div>
                  <div class="col-md-4">
                    <label> Date de début de la Licence</label>

                    <input type="date" placeholder="" class="form-control" />
                  </div>
                  <div class="col-md-4">
                    <label>Date d'expiration de la Licence </label>

                    <input type="date" placeholder="" class="form-control" />
                  </div>
                </div>

                <div class="form-row">
                  <div class="col-md-12">
                    <label> Date d'expiration du passeport</label>

                    <input
                      type="date"
                      placeholder=" N° Tel"
                      class="form-control"
                    />
                  </div>
                </div>

                <div class="row" class="text-right">
                  <div class="modal-footer">
                    <button
                      type="button"
                      class="btn btn-white btn-xs dropdown-toggle"
                      data-dismiss="modal"
                    >
                      Annuler
                    </button>
                    <button
                      type="button"
                      class="btn btn-primary btn-xs dropdown-toggle"
                    >
                      Modifier
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
