<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="ibox-content">
      <form class="form-horizontal">
        <div class="form-group">
          <label class="col-lg-2 control-label">Club</label>

          <div class="col-lg-10">
            <input type="text" placeholder="Club" class="form-control" />
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-2 control-label">Abréviation</label>

          <div class="col-lg-10">
            <input type="text" placeholder="Abréviation" class="form-control" />
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-2 control-label">Logo</label>

          <div class="col-lg-10">
            <input type="file" placeholder="" class="form-control" />
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-2 control-label">N° Tel 1</label>

          <div class="col-lg-10">
            <input type="text" placeholder="N° Tel 1" class="form-control" />
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-2 control-label">N° Tel 2</label>

          <div class="col-lg-10">
            <input type="text" placeholder="N° Tel 1" class="form-control" />
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-2 control-label"> Mail Administrateur </label>

          <div class="col-lg-10">
            <input
              type="email"
              placeholder="Mail administrateur "
              class="form-control"
            />
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-2 control-label">Mail Financie</label>

          <div class="col-lg-10">
            <input
              type="email"
              placeholder="Mail financie"
              class="form-control"
            />
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-2 control-label">Mail Commercial</label>

          <div class="col-lg-10">
            <input
              type="email"
              placeholder="Mail Commercial"
              class="form-control"
            />
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-2 control-label">Mail Logistique</label>

          <div class="col-lg-10">
            <input type="email" placeholder="Club" class="form-control" />
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-2 control-label">Adresse</label>

          <div class="col-lg-10">
            <input type="text" placeholder="Adresse" class="form-control" />
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-2 control-label">Code Postal</label>

          <div class="col-lg-10">
            <input type="text" placeholder="Adresse" class="form-control" />
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-2 control-label">Pays</label>

          <div class="col-lg-10">
            <input type="text" placeholder="Adresse" class="form-control" />
          </div>
        </div>

        <div class="form-group">
          <label class="col-lg-2 control-label">Fédération locale</label>
          <div class="col-lg-10">
            <input
              type="text"
              placeholder="Fédération locale"
              class="form-control"
            />
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-2 control-label">Devise</label>

          <div class="col-lg-10">
            <select class="form-control">
              <option selected>Dinar</option>
              <option>Euro</option>
            </select>
          </div>
        </div>

        <div class="form-group">
          <label class="col-lg-2 control-label">Mot de passe </label>

          <div class="col-lg-10">
            <input
              type="password"
              placeholder="Mot de passe "
              class="form-control"
            />
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-2 control-label">Confirmer Mot de passe</label>

          <div class="col-lg-10">
            <input
              type="password"
              placeholder="Confirmer Mot de passe"
              class="form-control"
            />
          </div>
        </div>
        <div class="form-group">
          <div class="col-lg-offset-2 col-lg-10">
            <div class="i-checks">
              <label> <input type="checkbox" /><i></i> Sauvegarder </label>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="col-lg-offset-2 col-lg-10">
            <button class="btn btn-sm btn-white" type="submit">Ajouter</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
