<div class="wrapper wrapper-content animated fadeInDown">
  <div class="row">
    <div class="col-lg-12">
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
          <a
            class="nav-link active"
            id="AssuranceGroupe-tab"
            data-toggle="tab"
            href="#AssuranceGroupe"
            role="tab"
            >Assurance Groupe</a
          >
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div
          class="tab-pane fade show active"
          id="AssuranceGroupe"
          role="tabpanel"
          aria-labelledby="AssuranceGroupe-tab"
        >
          <app-rh-groupe></app-rh-groupe>
        </div>
      </div>
    </div>
  </div>
</div>
