<div class="wrapper wrapper-content animated fadeInDown">
  <div class="row">
    <div class="col-lg-12">
      <form class="form-horizontal" class="form-horizontal">
        <div class="form-group row">
          <label class="col-sm-4 col-form-label">Type</label>
          <div class="col-sm-6">
            <select class="form-control">
              <option value="flotte1">PP</option>
              <option value="flotte2">PM</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-4 col-form-label">Objet social</label>
          <div class="col-sm-6">
            <div class="input-group">
              <input class="form-control" placeholder="" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-primary">
                  <i class="fa fa-plus"></i>
                </button>
              </span>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-4 col-form-label">Capital Social</label>
          <div class="col-sm-6">
            <input class="form-control" type="text" placeholder="" />
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-4 col-form-label">Valeur Nominale</label>
          <div class="col-sm-6">
            <input class="form-control" type="text" placeholder="" />
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-4 col-form-label">Nombres de parts</label>
          <div class="col-sm-6">
            <input class="form-control" type="text" placeholder="" />
          </div>
        </div>

        <div class="row" class="text-right">
          <div class="modal-footer">
            <input
              type="submit"
              class="btn btn-xs btn-default"
              data-dismiss="modal"
              value="Annuler"
            />
            <input
              type="submit"
              data-dismiss="modal"
              class="btn btn-xs btn-primary"
              value="Ajouter"
            />
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
